@media (max-width: 1020px) {
    
    body {
        max-width: 640px;
        padding: 0;
        margin: -10px auto 0 auto;
    }

    .container {
        overflow: hidden;
        height: auto;
    }
    
    .header {
        max-width: 640px;
        height: 62px;
        background: none;
        margin: 0;
        padding: 0;
    }

    /* HEADER */
    /***************************/

    .header_content {
        padding: 0;
        margin: 0;
    }

    .header_content_upper_part {
        margin-left: 0;
        height: 62px;
        grid-template-columns: 53px 133px auto;
        grid-gap: 0;
        font-size: 0.2rem;
        background: linear-gradient(#5D5D5D, #464646);
    }

    .header_content_upper_part h1 {
        font-size: 1.2rem;
    }

    .header_content_logo {
        margin-left: 13px;
        margin-top: 12px;
        width: 37px;
        height: 37px;
        background-size: cover;
    }

    .header_content_logo_rotate {
        width: 37px;
        height: 37px;
        background-size: cover;
    }

    .header_content_grid {
        grid-column: 3;
    }
    
    .header_content_nav {
        grid-template-columns: 1.32fr 1.07fr 1.07fr;
        padding: 0;
        margin-top: 0;
        height: 62px;
        margin: 0;
    }


    .header_content_nav_item {
        padding: 0;
        height: 62px;
    }

    .header_content_nav_item p {
        margin: 16px 0;
        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: 0.2px;
    }

    #about_us::before {
        content: url('./assets/icons/mobile/about_us.png');
        margin-right: 7px;
        margin-left: 22px;
    }

    #services::before {
        content: url('./assets/icons/mobile/services.png');
        margin-left: 12px;
        margin-right: 5px;
    }

    #contact {
        letter-spacing: -0.8px; 
    }

    #contact::before {
        content: url('./assets/icons/mobile/contacts.png');
        margin-left: 16px;
        margin-right: 8px;
    }

    /* MAIN */
    /************************/

    .main {
        margin-top: 0;
    }

    .video_part {
        margin: 0;
        height: 318px;
    }

    #iframe {
        margin: 0 0;
        width: 640px;
        height: 327px;
        background: url('./assets/mobile/iframe_video.png') no-repeat;
        overflow: visible;
    }

    .video_part h3 {
        display: none;
    }

    .video_part_sliders {
        display: none;
    }

    /* MENU */

    .menu {
        margin: 0;
        height: 180px !important;
        background: url('./assets/mobile/white-bg.png')
    }

    .menu_shadow1, .menu_shadow2 {
        position: relative;
        height: 180px;
        background: url('./assets/mobile/white-bg.png');
        top: -5px;
        opacity: 0.5;
    }

    .menu_content {
        position: relative;
        top: -170px;
        height: 180px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr)
    }

    .menu_content_label {
        border: 0;
        padding: 0 16px;
    }

    .menu_content_better_disign, .menu_content_better_castomize {
        margin: 0;
    }

    .menu_content_better_disign h4 {
        margin-top: 11px;
        font-weight: 100;
        font-size: 1.4rem;
        margin-bottom: 0;
    }

    .menu_content_better_disign img {
        content: url('./assets/mobile/better_design.png');
        margin-left: 29px;
        margin-top: 33px;
    }

    .menu_content_better_castomize img{
        content: url('./assets/mobile/customize.png');
        margin-left: 67px;
        margin-top: 29px;
    }

    .menu_content_better_castomize h4 {
        margin-top: 2px;
        margin-left: 42px;
        font-size: 1.4rem;
        font-weight: 100;
        margin-bottom: 0;
    }

    .menu_content_its_free {
        width: 100%;
        margin: 0;
    }

    .menu_content_its_free img {
        content: url('./assets/mobile/ItsFree.png');
        margin-top: 29px;
        margin-left: 62px;
    }

    .menu_content_its_free h4 {
        margin-top: 8px;
        margin-left: 63px;
        font-size: 1.4rem;
        font-weight: 100;
        margin-bottom: 0;
    }

    section.content_slider {
        height: 470px;
        background: none;
        padding: 10px 0;
    }

    .content_slider_grid {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 9px;
        justify-content: space-around;
    }

    .content_slider_grid_twitter {
        display: none;
        grid-column: 0;
        content: none;
    }

    .content_slider_grid_lorem, .content_slider_grid_mult {
        height: 232px;
    }

    .content_slider_grid_lorem {
        padding: 15px 25px;
        padding-bottom: 0;
        overflow: hidden;
        height: 217px;
        margin: 0 10px;
    }

    .content_slider_grid_mult {
        margin: 0 10px 0 -10px;
    }

    .content_slider_grid_lorem_desktop {
        display: none;
    }

    p.content_slider_grid_lorem_mobile {
        display: inline;
        font-weight: 100;
        line-height: 33px;
        font-size: 1.7rem;
    }

    .content_slider_grid_plus {
        left: 249px;
        top: -11px
    }

    .twitter_content_mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        max-width: 640px;
        height: 233px;
        margin-top: 8px;
        background: #f5c507;
    }

    .twitter_content_mobile_logo_container {
        padding: 60px 80px;
    }

    .twitter_mobile_right_side_grid {
        display: grid;
        grid-template-rows: 188px 40px;
        grid-gap: 0px;
    }
    
    .twitter_mobile_right_side_grid_grid_twittes {
        display: grid;
        padding-top: 13px;
        height: 100%;
        grid-template-rows: 61px 55px 53px;
        justify-content: space-around;
        align-items: center;
    }

    .twitter_mobile_right_side_grid_grid_twittes_element {
        margin: 0;
        color: black;
        height: 50px;
    }

    .twitter_mobile_right_side_grid_grid_twittes_element_label {
        height: 42px;
        background: white;
        margin-left: 12px;
        margin-right: 33px;
        padding: 0 20px;
        color: black;
        border-radius: 12px;
    }

    .twitter_mobile_right_side_grid_grid_twittes_element_label p {
        height: 50px;
        font-size: 0.8rem;
        line-height: 17px;
        margin-top: 5px;
    }

    #second_label {
        opacity: 0.7;
    }

    #third_label {
        opacity: 0.5;
    }

    .twitter_mobile_right_side_grid_grid_twittes_element_triangle {
        position: relative;
        top: -47px;
        left: -23px;
        transform: rotate(44deg);
        width: 15px;
        height: 15px;
        background: white;
    }

    .twitter_mobile_right_side_grid_grid_twittes_add_twitt {
        display: grid;
        height: 30px;
        grid-template-columns: 200px 70px;
        padding-left: 20px;
        padding-top: 0;
        border-radius: 10px;
    }

    .twitter_mobile_right_side_grid_grid_twittes_add_twitt_add_twitt {
        border-radius: 10px 0 0 10px;
        border: 0;
        -webkit-box-shadow:inset 2px 2px 2px 2px #b0b0b0;
        box-shadow: inset 2px 2px 2px 2px #b0b0b0;
    }

    .twitter_mobile_right_side_grid_grid_twittes_add_twitt button {
        border-radius: 0 10px 10px 0;
        border: 0;
        background: #db9a18;
        color: white;
        font-size: 0.9rem;
    }

    /* THIRD */
    /**********************/

    section.third {
        position: static;
        padding-top: 45px;
        margin-top: -5px;
        height: 420px;
    }

    .third h2 {
        margin-top: -15px;
        font-size: 2.5rem;
        font-weight: 100;
        letter-spacing: 0.1rem;
    }

    .third_comp {
        height: 250px;
        margin: 40px 0 0 55px;
    }

    #comp_circle {
        left: -30px;
    }

    #laptop {
        margin: 80px 0 0 25px;
    }

    #mobile {
        margin: 190px 0 0 25px;
    }

    .third_list {
        display: none;
    }

    .footer {
        position: static;
        width: 100%;
        height: 45px;
        display: grid;
        grid-template-columns: 100px 200px auto;
        padding: 0;
    }

    .footer_logo {
        grid-column: 1;
        margin-top: 7px;
        margin-left: 65px;
        width: 31px;
        height: 31px;
        background: url('./assets/mobile/mini_logo.png');
    }

    .footer_logo_rotate {
        width: 31px;
        height: 31px;
        background: url('./assets/mobile/mini_logo2.png');
        margin-left: 0px;
    }

    .footer img {
        display: inline-block;
        margin-top: 12px;
        width: 92px;
        height: 15px;
    }

    .desktop_block {
        display: none;
    }

    .desktop_grid {
        display: none;
    }


}

