=flex($fd: column, $jc: center, $ai: center)
    display: flex
    flex-direction: $fd
    justify-content: $jc
    align-items: $ai

=grid-col($gt: 1px 1px, $jc: center, $ai: center) 
    display: grid
    grid-template-columns: $gt
    justify-content: $jc
    align-items: $ai